:root {
  --button-color: #1E212D;
  --button-text-color:#d8b0a5;
  --background-color: #FAF3E0;
  --text-color:#916d5b;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: 1px solid;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 40px;
  padding: 5px 100px;
  width: 100%;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.nav > span{
  padding: 8px 22px;
  border-radius:20px ;
  font-size: 18px;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.nav span:hover{
  background-color: white;
  opacity: 0;
}

#app{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

canvas{
  border: 1px solid;
  width: 100%;
}

.aboutus{
  position: relative;
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 100px;

}

.parts{
  display: flex;
  padding: 10px 60px;
  gap: 50px;
}

.parts > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 26px;
  font-weight: 900;
}

.parts:nth-child(2){
  flex-direction: row-reverse;
}

.parts p{
  font-size: 20px;
  font-weight: 600;
}

.parts:nth-child(3) p{
  display: flex;
  flex-direction: column;
  gap: 10px;
}